@charset 'utf-8';
@import 'font.scss';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
    box-sizing: border-box;
    text-decoration: none;
	word-break: keep-all;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a,
button {
    cursor: pointer;
    outline: unset;
}

$font: 'Pretendard';
$font-black: #111111;
$font-grey: #767676;
$font-white: #ffffff;
$line-regular: #E5E5EC;

$bg-red: #DC0000;

$brand: #33BA8A;

// note: μΈν’‹
.ipt{
    display: inline-block;
    & + &{
        margin-top: 24px;
    }
    span{
        font: 400 14px/20px $font;
        color: $font-black;
        letter-spacing: -0.025em;
        &.body-error{
            color: $bg-red;
            font-size: 13px;
            line-height: 18px;
            margin-top: 8px;
        }
    }
    input,
    select{
        display: inline-block;
        margin-top: 8px;
        font: 400 16px/24px $font;
        color: $font-black;
        letter-spacing: -0.025em;
        padding: 14px 16px;
        border: 1px solid $line-regular;
        border-radius: 6px;
        &::placeholder{
            color: $font-grey;
        }
        &:focus{
            outline: unset;
            background-color: rgba($brand, 0.2);
        }
    }
}