@charset 'utf-8';
@import 'font.scss';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
    box-sizing: border-box;
    text-decoration: none;
	word-break: keep-all;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{
    display: block;
}
a,
button {
    cursor: pointer;
    outline: unset;
}

$font: 'Pretendard';
$font-01white: #ffffff;
$font-02black: #111111;
$font-03grey: #505050;
$font-04grey: #767676;
$font-disabled: #999999;

$mb-h4-sb: 600 20px/26px $font;
$mb-h5-sb: 600 18px/26px $font;
$mb-t5-sb: 600 18px/26px $font;
$mb-t4-rg: 400 16px/24px $font;
$mb-b2-sb: 600 14px/20px $font;
$mb-b2-rg: 400 14px/20px $font;
$mb-c1-rg: 400 13px/18px $font;
$mb-c2-sb: 600 12px/18px $font;
$mb-c2-rg: 400 12px/18px $font;
$mb-c3-rg: 400 11px/16px $font;

$line-black: #111111;
$line-regular: #E5E5EC;

$bg-white: #ffffff;
$bg-red: #DC0000;

$brand: #33BA8A;

// NOTE: 인풋
.ipt{
    display: inline-block;
    & + &{
        margin-top: 24px;
    }
    span{
        font: $mb-b2-rg;
        color: $font-02black;
        letter-spacing: -0.025em;
        &.body-error{
            font: $mb-c1-rg;
            color: $bg-red;
            margin-top: 8px;
        }
    }
    input,
    select{
        display: inline-block;
        margin-top: 8px;
        font: $mb-t4-rg;
        color: $font-02black;
        letter-spacing: -0.025em;
        padding: 14px 16px;
        border: 1px solid $line-regular;
        border-radius: 6px;
        &::placeholder{
            color: $font-04grey;
        }
        &:focus{
            outline: unset;
            background-color: rgba($brand, 0.2);
        }
    }
}

// NOTE: 버튼
.btn{
    background-color: unset;
    border: unset;
    outline: unset;
    &.plus{
        border-radius: 8px;
        width: 40px;
        aspect-ratio: 1;
        background: $brand url(/resources/images/icons/ic-plus.svg) center/20px no-repeat;
        box-shadow: 0 4px 16px 0 #00000014;
    }
    &-more{
        font: $mb-c2-rg;
        color: $font-02black;
        letter-spacing: -0.025em;
        padding-right: 12px;
        background: url(/resources/images/icons/ic-arrow-right.svg) right center/12px no-repeat;
    }
}
// NOTE: LIST
[class^=list]{
    & > h2{
        font: $mb-t5-sb;
        letter-spacing: -0.025em;
        color: $font-02black;
        display: flex;
        align-items: center;
        a{
            margin-left: auto;
        }
    }
    & > p{
        font: $mb-c1-rg;
        letter-spacing: -0.025em;
        color: $font-04grey;
    }
    & > ul{
        margin-top: 16px;
    }
}
.review-star{
    ul{
        display: inline-flex;
    }
    li{
        font-size: 12px;
        display: inline-block;
        width: 1em;
        aspect-ratio: 1;
        background: url(/resources/images/icons/ic-star.svg) 0/2em no-repeat;
        &.active{
            background-position: -1em;
        }
    }
    span{
        font: $mb-c1-rg;
        letter-spacing: 0.025em;
        color: $font-02black;
        vertical-align: bottom;
    }
}
.list{
    // 소비기한 임박 식자재
    &-useByDate{
        & > ul{
            width: 100%;
            overflow: auto;
            white-space: nowrap;
            margin-top: 16px;
            li{
                width: 70px;
                display: inline-block;
                padding: 8px 11px;
                & + li{
                    margin-left: 4px;
                }
                a{
                    position: relative;
                    & > span{
                        position: absolute;
                        top: -4px;
                        right: -7px;
                        background-color: $bg-red;
                        border-radius: 4px;
                        padding-inline: 4px;
                        font: $mb-c3-rg;
                        color: $font-01white;
                    }
                }
            }
        }
        img{
            width: 48px;
            aspect-ratio: 1;
            object-fit: contain;
        }
        p{
            font: $mb-c2-rg;
            color: $font-03grey;
            letter-spacing: -0.025em;
            text-align: center;
            margin-top: 4px;
        }
    }

    // 레시피
    &-recipe{
        & > ul{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 32px 16px;
        }
        a{
            .r{
                &-chef{
                    font: $mb-c2-sb;
                    color: $font-02black;
                    letter-spacing: -0.025em;
                }
                &-title{
                    font: $mb-c1-rg;
                    color: $font-03grey;
                    letter-spacing: -0.025em;
                    margin-top: 2px;
                }
            }
            & > div{
                margin-top: 16px;
            }
        }
        img{
            width: 100%;
            object-fit: cover;
            border-radius: 8px;
        }
    }

    // 식자재 리스트
    &-food{
        & + &{
            margin-top: 24px;
        }
        & > ul{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 16px;
        }
        a{
            span{
                &,
                &::before{
                    font: $mb-c1-rg;
                    letter-spacing: -0.025em;
                    color: $font-02black;
                }
                &.f-size::before{
                    content: " - ";
                }
                &.f-useByDate::before{
                    content: " ~ ";
                }
            }
            div{
                margin-top: 12px
            }
        }

        img{
            width: 100%;
            aspect-ratio: 1.8;
            object-fit: cover;
            border-radius: 4px;
        }

        &.detail{
            ul{
                grid-template-columns: 1fr;
            }
            a{
                display: flex;
            }
            div{
                padding-left: 14px;
            }
            span{
                display: block;
                &.f{
                    &-name{
                        font: $mb-h5-sb;
                        letter-spacing: -0.025em;
                        color: $font-02black;
                    }
                    &-size::before{
                        content: unset;
                    }
                    &-addDate{
                        margin-top: 24px;
                        &::before{
                            content: "구매일자 : ";
                        }
                    }
                    &-useByDate::before{
                        content: "소비기한 : ";
                    }
                }
            }
            img{
                width: 124px;
                aspect-ratio: 1;
                object-fit: cover;
            }
        }
    }

    // 해시태그
    &-tag{
        ul{
            margin-top: unset;
        }
        li{
            font: $mb-c3-rg;
            letter-spacing: -0.025em;
            color: $font-02black;
            padding: 2px 4px;
            background-color: #F7F7FB;
            display: inline-block;
        }
    }
}
.tab{
    &-filter{
        table{
            width: 100%;
            border-collapse: collapse;
            td{
                border: 1px solid $line-regular;
                font: $mb-b2-rg;
                color: $font-04grey;
                a{
                    display: block;
                    padding-block: 12px;
                    text-align: center;
                    font: inherit;
                    letter-spacing: -0.025em;
                    color: inherit;
                }
                &.active{
                    font: $mb-b2-sb;
                    border-color: $line-black;
                    color: $font-02black;
                }
            }
        }
    }
}
.banner{
    margin-block: unset;
    padding-inline: unset;
    img{
        width: 100%;
        border-radius: 8px;
    }
    li{
        padding-inline: 4px;
    }
}
