@charset 'utf-8';
@import 'common.scss';

$width-device: 375px;
$height-header: 56px;
$height-footer: 52px;
$shadow-header: 0 5px 10px 0 #0000000f;
$shadow-footer: 0 -10px 5px 0 #0000000f;

.wrap{
    max-width: $width-device;
    width: 100%;
    margin: auto;
}

header{
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    padding-inline: 20px;
    height: $height-header;
    background-color: $bg-white;
    box-shadow: $shadow-header;
    h1{
        img{
            height: 38px;
        }
    }
    ul{
        margin-left: auto;
        display: flex;
        li{
            display: inline-block;
            margin-left: 16px;
        }
        img{
            height: 28px;
        }
    }
}
section{
    min-height: calc(100vh - ($height-header + $height-footer));
    padding-block: 16px 10px;
}
footer{
    position: sticky;
    height: $height-footer;
    bottom: 0;
    background-color: $bg-white;
    box-shadow: $shadow-footer;
    ul{
        display: flex;
        li{
            flex: 1;
            a{
                display: flex;
                align-items: center;
                flex-direction: column;
                padding-block: 4px;
            }
            img{
                height: 28px;
            }
            span{
                font: $mb-c3-rg;
                letter-spacing: -0.025em;
                color: $font-04grey;
            }
        }
    }
}

// body {
//     display: flex;
//     flex-direction: column;
//     min-height: 100vh;
//     align-items: center;
//     justify-content: center;
//     height: 100%;
//     overflow: hidden;
//     width: 100%;
//     margin: 0 auto;
// }

// .body{
//     width: 420px;
//     height: 100%;
//     min-height: 100vh;
//     overflow-x: hidden;
//     overflow-y: auto;  /* Enable vertical scrolling */
//     max-height: calc(100vh - 60px);
//     scrollbar-width: none;
// }

// .body::-webkit-scrollbar {
//     width: 0;
//     height: 8px; /* 가로 스크롤바 높이 설정 */
//     background-color: transparent; /* 배경 색상 설정 */
// }

// .body::-webkit-scrollbar-thumb {
//     background-color: transparent; /* 스크롤바 색상 설정 */
// }

// .body::-moz-scrollbar {
//     width: 0;
//     height: 8px; /* 가로 스크롤바 높이 설정 */
//     background-color: transparent; /* 배경 색상 설정 */
// }

// .body::-moz-scrollbar-thumb {
//     background-color: transparent; /* 스크롤바 색상 설정 */
// }

// header {
//     position: sticky;
//     top: 0;
// }

// nav {
//     text-align: center;
//     align-items: center;
//     bottom: 0;
//     left: 0;
//     width: 420px;
//     background-color: var(--bgPrimary);
//     cursor: pointer;
// }
// section {
//     width: 100%;
//     text-align: center;
//     justify-content: center;
// }