@charset 'utf-8';
@import 'layout.scss';

.banner{
    margin-block: unset;
    padding-inline: unset;
    img{
        width: 100%;
        border-radius: 8px;
    }
    li{
        padding-inline: 4px;
    }
}

.foodInsert{
    &Intro{
        img{
            width: 100%;
            padding-inline: 16px;
            margin-block: 96px 24px;
        }
        p{
            letter-spacing: -0.025em;
            color: $font-02black;
            text-align: center;
            &.title{
                font: $mb-h5-sb;
                margin-block: 24px 16px;
            }
            &.dscpt{
                font: $mb-b2-lt;
            }
        }
        .btn-wrap{
            margin-top: 96px;
            padding-inline: 40px;
            .btn + .btn{
                margin-top: 8px;
            }
        }
    }
    &Area{
        padding: 26px 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px;
        .full{
            grid-column: span 2;
        }
        .ipt{
            margin-top: unset;
            input,
            select{
                width: 100%;
            }
        }
    }
}
.recipe{
    // NOTE: 레시피 사용 썸네일과 사용 단계
    &Use{
        & > ol{
            padding-inline: 20px;
            & > li{
                counter-increment: recipe-step;
                margin-bottom: 60px;
                &::before{
                    content: counter(recipe-step)".";
                    font: $mb-h4-sb;
                    letter-spacing: -0.025em;
                    color: $font-02black;
                }
                & > img{
                    margin-top: 12px;
                    width: 100%;
                    aspect-ratio: 335/250;
                    object-fit: cover;
                }
            }
            .r-step{
                &-title{
                    font: $mb-h5-sb;
                    margin-top: 16px;
                }
                &-dscpt{
                    font: $mb-c1-rg;
                    margin-top: 4px;
                    color: $font-04grey;
                }
                &-timer{
                    margin-top: 4px;
                    padding-block: 20px;
                    p{
                        font: $mb-d3-sb;
                        font-weight: 800;
                        letter-spacing: -0.025em;
                        color: $brand;
                        text-align: center;
                        span + span::before{
                            content: " : ";
                        }
                    }
                    ul{
                        display: flex;
                        gap: 32px;
                        justify-content: center;
                        margin-top: 20px;
                    }
                }
            }
        }

        &Thumbnail{
            .r{
                &-thumbnail,
                &-infor,
                &-information{
                    padding-inline: 20px;
                }
                &-thumbnail{
                    position: relative;
                    & > img{
                        width: 100%;
                        object-fit: cover;
                        aspect-ratio: 335/250;
                    }
                    & > div{
                        position: absolute;
                        top: 0;
                        left: 20px;
                        right: 20px;
                        height: 100%;
                        background: linear-gradient(140deg, rgba($bg-black, 0) 60%, rgba($bg-black, 1));
                        display: flex;
                        justify-content: flex-end;
                        align-items: flex-end;
                        padding: 10px;
                    }
                    ul{
                        display: flex;
                        gap: 6px;
                        img{
                            width: 24px;
                            aspect-ratio: 1;
                        }
                    }
                }
                &-infor{
                    // NOTE: 레시피 관련 설명
                    margin-top: 16px;
                    ul{
                        margin-top: 32px;
                        display: flex;
                        justify-content: center;
                        gap: 32px;
                        img{
                            width: 28px;
                            aspect-ratio: 1;
                        }
                        li{
                            display: inline-flex;
                            gap: 4px;
                            align-items: center;
                        }
                        span{
                            font: $mb-c2-rg;
                            letter-spacing: -0.025em;
                            color: $font-02black;
                        }
                    }
                    .r{
                        &-title{
                            font: $mb-h4-sb;
                            letter-spacing: -0.025em;
                            color: $font-02black;
                        }
                        &-dscpt{
                            margin-top: 4px;
                            font: $mb-c1-rg;
                            letter-spacing: -0.025em;
                            color: $font-04grey;
                        }
                    }
                    &-writer{
                        margin-top: 28px;
                        border: solid $line-light;
                        border-block-width: 1px;
                        padding: 20px;
                        display: flex;
                        align-items: flex-start;
                        & > div{
                            flex: 1;
                            padding-inline: 16px;
                        }
                        .r{
                            &-profile{
                                width: 42px;
                                aspect-ratio: 1;
                                object-fit: cover;
                                border-radius: 12px;
                            }
                            &-writer{
                                font: $mb-b3-rg;
                                letter-spacing: -0.025em;
                                color: $font-02black;
                                span{
                                    font: $mb-b1-sb;
                                }
                                &-dscpt{
                                    font: $mb-b4-rg;
                                    letter-spacing: -0.025em;
                                    color: $font-04grey;
                                }
                            }
                        }
                    }
                }
                &-information{
                    table{
                        width: 100%;
                        border-collapse: collapse;
                        & + table{
                            margin-top: 8px;
                            tbody{
                                border: unset;
                            }
                        }
                        thead{
                            border-bottom: 1px solid $line-black;
                            text-align: left;
                            font: $mb-t5-sb;
                            letter-spacing: -0.025em;
                            color: $font-02black;
                            th{
                                padding-block: 16px 12px;
                            }
                        }
                        tbody{
                            font: $mb-b2-rg;
                            letter-spacing: -0.025em;
                            color: $font-02black;
                            border-bottom: 1px solid $line-light;
                            tr:first-child td{
                                padding-top: 24px;
                            }
                            tr:last-child td{
                                padding-bottom: 32px;
                            }
                            th{
                                width: 100px;
                                font-weight: 400;
                                text-align: left;
                            }
                            td{
                                text-align: center;
                                padding: 8px;
                                span{
                                    &.lack{
                                        color: $bg-red;
                                    }
                                    & + span{
                                        font: $mb-b4-rg;
                                        color: rgba($font-04grey, 0.5);
                                        &::before{
                                            content: "/";
                                        }
                                    }
                                }
                                .btn{
                                    display: inline-block;
                                    margin-left: auto;
                                }
                                &:has(.btn:only-child){
                                    width: 0;
                                    padding-inline: unset;
                                    text-align: right;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // NOTE: 레시피 등록
    &Insert{
        h2{
            font: $mb-h4-sb;
            letter-spacing: -0.025em;
            color: $font-02black;
        }
        // NOTE: 레시피 자체에 대한 설명
        &Thumbnail{
            padding: 8px 20px 24px;
            border-bottom: 10px solid $line-regular;
            .imageUploader{
                margin-top: 12px;
            }
            .ipt{
                margin-top: 16px;
                div{
                    gap: 16px;
                }
            }
        }

        // NOTE: 레시피 단계별 설명
        &Steps{
            h2{
                margin: 24px 16px 20px;
            }
            ol{
                & > li{
                    padding: 20px;
                    counter-increment: steps;
                    & > h3{
                        font: $mb-t5-sb;
                        letter-spacing: -0.025em;
                        color: $font-02black;
                        &::before{
                            content: counter(steps);
                        }
                    }
                    .imageUploader{
                        margin-top: 14px;
                    }
                    .ipt,
                    .btn-wrap{
                        margin-top: 16px;
                    }
                    
                    input[size]{
                        text-align: center;
                    }
                    input[type=checkbox]{
                        display: none;
                        &:checked + .ipt{
                            display: block;
                        }
                    }
                    .btn-wrap{
                        display: flex;
                        gap: 4px;
                        & ~ .ipt{
                            display: none;
                        }
                        .btn{
                            border-color: $line-black;
                            color: $font-02black;
                            display: flex;
                            align-items: center;
                            padding: 7px 12px;
                            &::before{
                                content: "";
                                position: relative;
                                font-size: 16px;
                                width: 1em;
                                aspect-ratio: 1;
                                margin-right: 2px;
                                background: url(/resources/images/icons/recipe/ic-add.svg) 0/1em no-repeat;
                            }
                            &.active{
                                background-color: $brand;
                                border-color: $brand;
                                color: $font-01white;
                                &::before{
                                    background: {
                                        image: url(/resources/images/icons/ic-delete.svg);
                                        size: 2em;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            h3{
                font: $mb-t5-sb;
                letter-spacing: -0.025em;
                color: $font-02black;
                display: flex;
                align-items: center;
                ul{
                    margin-left: auto;
                    display: flex;
                    gap: 4px;
                }
            }
        }
    }
}
.profile{
    .user{
        &-name{
            font: $mb-t1-sb;
            letter-spacing: -0.025em;
            color: $font-02black;
            text-align: center;
        }
        &-recipe{
            display: flex;
            padding-inline: 20px;
            justify-content: space-between;
            margin-top: 18px;
            li{
                width: 100px;
            }
            p{
                font: $mb-t4-rg;
                letter-spacing: -0.025em;
                color: $font-02black;
                text-align: center;
            }
            span{
                display: block;
                font: $mb-d4-sb;
                letter-spacing: -0.025em;
                color: $font-02black;
                text-align: center;
            }
        }
    }
    .list{
        margin-top: 32px;
    }
    .imageUploader{
        padding-block: 32px 20px;
        & > *{
            position: relative;
            width: 120px;
            aspect-ratio: 1;
            border-radius: 50%;
            p{
                text-indent: -9999px;
            }
            .ic-camera{
                position: absolute;
                bottom: 0;
                right: 0;
                font-size: 30px;
                background-position: -1em;
                border-radius: 50%;
                background-color: $bg-regular;
                &::after{
                    font-size: 24px;
                    background-position: -1em;
                }
            }
        }
    }
}

// NOTE 각 페이지들 여백
.list{
    &-useByDate h2,
    &-recipe,
    &-food{
        padding-inline: 16px;
    }
}

.home{
    [class^=list-]{
        margin-top: 24px;
    }
}
.foodList{
    .tab-filter{
        margin-top: 32px;
        padding-inline: 16px;
    }
    .list-food{
        margin-block: 16px 24px;
    }

    &Detail{
        .list-food{
            margin-block: 24px;
        }
    }
}
.foodCalendar{
    padding-inline: 20px;
    .tab{
        margin-top: 8px;
    }
    .list-foodBuyUseByDate{
        padding-inline: 4px;
    }
}

.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $bg-dim;
    z-index: 100;
    display: none;
    &-content{
        width: 310px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        border-radius: 4px;
        overflow: hidden;
    }
    &-body{
        min-height: 110px;
        background-color: $bg-white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 36px 16px 24px;
        p{
            font: $mb-b2-rg;
            letter-spacing: -0.025em;
            color: $font-02black;
            text-align: center;
        }
        ul{
            margin-top: 10px;
        }
        li{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            margin-top: 4px;
            p{
                font: $mb-b4-rg;
                letter-spacing: -0.025em;
                color: $font-02black;
                text-align: center;
            }
        }
        .review-star{
            margin-top: 8px;
        }
    }
    &-footer{
        .btn-wrap{
            display: flex;
            .btn{
                flex: 1;
                font: $btn2-sb;
                text-align: center;
                border-radius: unset;
            }
        }
    }
}