@charset 'utf-8';
@import 'layout.scss';

.banner{
    margin-block: unset;
    padding-inline: unset;
    img{
        width: 100%;
        border-radius: 8px;
    }
    li{
        padding-inline: 4px;
    }
}

.foodInsert{
    &Intro{
        img{
            width: 100%;
            padding-inline: 16px;
            margin-block: 96px 24px;
        }
        p{
            letter-spacing: -0.025em;
            color: $font-02black;
            text-align: center;
            &.title{
                font: $mb-h5-sb;
                margin-block: 24px 16px;
            }
            &.dscpt{
                font: $mb-b2-lt;
            }
        }
        .btn-wrap{
            margin-top: 96px;
            padding-inline: 40px;
            .btn + .btn{
                margin-top: 8px;
            }
        }
    }
    &Area{
        padding: 26px 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px;
        .full{
            grid-column: span 2;
        }
        .ipt{
            margin-top: unset;
            input,
            select{
                width: 100%;
            }
        }
    }
}